Flask>=0.9
Flask-SQLAlchemy
gunicorn>=0.16.1
# patched because crash on PATCH
-e git+http://github.com/bjourne/flask-restless.git#egg=restless
# httplib2 misses certs
-e git+http://github.com/bjourne/python-oauth2.git@disable-ssl-check#egg=oauth2
psycopg2
Flask-Login
Flask-OAuth
requests>=0.14.1
lxml>=2.3.2
