kgrid(config="config",gridid="gridId")
p
a.btn(data-ng-show="User.getUser().is_anon", href="/auth/twitter/login") Logga in med Twitter
a.btn(data-ng-show="User.getUser().is_anon", href="/auth/google/login") Logga in med Google+
a.btn(data-ng-show="User.getUser().is_anon", href="/auth/facebook/login") Logga in med Facebook
a.btn(data-ng-show="User.getUser().is_anon", href="/auth/github/login") Logga in med Github
a.btn(data-ng-show="User.getUser().is_anon", href="/auth/bitbucket/login") Logga in med Bitbucket
a.btn(ng-click="logout()",data-ng-hide="User.getUser().is_anon") Logga ut
p Hejsan {{formatUser(User.getUser())}}




