.k-grid .k-datepicker, .k-grid .k-numerictextbox
    width 99%

.k-grid .ra, .k-numerictextbox .k-input
    text-align right

.k-grid .ca
    text-align center

.k-grid .single-line, .k-input
    margin inherit
