$orangeD = lighten(#841E10, 10%)
$orangeL = lighten(#C1221C, 10%)

header, footer
    background \
        url("/static/images/header-bg.png"), \
        -webkit-linear-gradient(top, $orangeD, $orangeL)
    font-weight bold
    color #fffff0
header
    border-bottom 1px solid #841E10

footer
    border-top 1px solid #841E10
    text-align center
    padding 30px

#main
    background -webkit-gradient(radial, 250 50,0,250 50,800, from(#0CA090),to(#12584C)) transparent
    padding-top 20px
    min-height 1250px
    border-left 5px solid #333
    border-right 5px solid #333

.k-grid .k-datepicker, .k-grid .k-numerictextbox
    width 99%

.k-grid .ra, .k-numerictextbox .k-input
    text-align right

.k-grid .ca
    text-align center

.k-grid .single-line, .k-input
    margin inherit

.userinfo img
    max-width 32px
    max-height 32px
    margin 5px
    border-radius 3px
    overflow hidden

.userbox
    font-weight normal
    background-color rgba(100, 80, 80, 0.2)
    line-height 35px
    height 70px
    padding-left 10px
    padding-right 10px
    padding-top 5px
    padding-bottom 5px
    margin-top 20px
    margin-bottom 20px 
    p
        margin 0px
        img
            max-width 32px
            max-height 32px
            border-radius 3px
            overflow hidden
        .loginalt 
            height 24px
            line-height 24px
            img
                overflow hidden
                border-radius 2px
                width 16px
                height 16px
    

