mixin js(src)
    script(type="text/javascript", src=src)
mixin css(href)
    link(rel="stylesheet", href=href)

!!! 5
html(ng-app="vvm")
    head
        meta(charset="utf-8")
        mixin css("http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
        mixin css("http://cdn.kendostatic.com/2012.3.1315/styles/kendo.common.min.css")
        mixin css("http://cdn.kendostatic.com/2012.3.1315/styles/kendo.black.min.css")
        mixin css("/static/css/style.css")
        // Base
        mixin js("http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
        mixin js("http://cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/xregexp-min.js")
        mixin js("http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.0.1/lodash.min.js")
        // Angular
        mixin js("http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js")
        mixin js("http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-sanitize.min.js")
        // Kendo
        mixin js("http://cdn.kendostatic.com/2012.3.1114/js/kendo.all.min.js")
        mixin js("http://cdn.kendostatic.com/2012.3.1114/js/cultures/kendo.culture.sv-SE.min.js")
        // Mine
        mixin js("/static/js/out.js")
        title Vem vet mest?
    body
        header
            .container
                .row
                    .span8
                        h1
                            a(href="#/scores") Vem Vet mest?
                        p.lead Håll reda på ditt resultat!
                    .span3.userbox(ng-switch, on = "!User.getUser().is_anon")
                        div(ng-switch-when = "true")
                            p.info(ng-bind-html-unsafe="formatUser(User.getUser())")
                            p
                                button.k-button(ng-click="logout()") Logga ut
                        div(ng-switch-default)
                            p Logga in för att lägga in ditt resultat:
                            p
                                kdropdown(config="providersConfig", dropdownid = "ddId")
        #main
            .container
                .row
                    .span12
                        div(ng-view)
        footer
            .container
                p.lead En sida skapad av&nbsp;
                    a(href="http://www.bjornlindqvist.se") Björn Lindqvist
                    |  för han behövde ett ställe att spara sina Vem vet mestresultat på.
